<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="/templates/base">
<body>
<header layout:fragment="header">쉽게 바뀌는군!!</header>
<section layout:fragment="content">
    <section>
        <fieldset>
            <legend>버튼 및 검색 영역</legend>
            <ul>
                <li><a th:href="@{/board/write}">글쓰기</a></li>
            </ul>
        </fieldset>
    </section>
    <section>
        <fieldset>
            <legend>목록</legend>
            <div class="panel panel-default">
                <div class="panel-heading">목록</div>
                <div class="panel-body"><p>Description</p></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>날짜 긴타입</th>
                        <th>날짜 중간타입</th>
                        <th>날짜 짧은타입</th>
                        <th>표준시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="article : ${articles.content}">
                        <td th:text="${article.subject}">여기는 제목</td>
                        <td th:text="${article.localizedDateTimeLong}">여기는 날짜</td>
                        <td th:text="${article.localizedDateTime}">여기는 날짜</td>
                        <td th:text="${article.localizedDateTimeShort}">여기는 날짜</td>
                        <td th:text="${#calendars.format(article.createdOnUTCBased, 'yyyy-MM-dd hh:mm:ss')}">여기는 UTC 날짜</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </section>
    <section>
        <fieldset th:if="${articles.totalPages>0}">
            <legend>페이징</legend>
            <ul class="pagination">
                <li>
                    <a th:if='${not articles.first}' th:href='@{?(page=1,size=${articles.size},q=${queryString})}'>&larr;</a>
                    <a th:if='${articles.first}' href="javascript:void(0);">&larr;</a>
                </li>
                <li th:each="pageNo : ${#numbers.sequence(1, articles.totalPages)}">
                    <a th:href="@{?(page=${pageNo},size=${articles.size},q=${queryString})}" th:text="${pageNo}"></a>
                </li>
                <li>
                    <a th:if='${not articles.last}' th:href='@{?(page=${articles.number+1},size=${articles.size},q=${queryString})}'>&rarr;</a>
                    <a th:if='${articles.last}' href="javascript:void(0);">&rarr;</a>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>검색</legend>
            <div class="input-group">
                <input type="text" name="q" id="q" class="form-control" th:value="${queryString}"/>
                <span class="input-group-btn"><button type="button" class="btn btn-default" id="search">검색</button></span>
            </div>
        </fieldset>
    </section>
</section>
</body>
</html>