<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
여기는 목록
<section>
    <fieldset>
        <legend>버튼 및 검색 영역</legend>
        <ul>
            <li><a th:href="@{/board/write}">글쓰기</a></li>
        </ul>
    </fieldset>
</section>
<section>
    <fieldset>
        <legend>목록</legend>
        <ul>
            <li>제목</li>
            <li>날짜</li>
        </ul>
        <ul th:each="article : ${boards}">
            <li th:text="${article.subject}">여기는 제목</li>
            <li th:text="${article.localizedDateTimeLong}">여기는 날짜</li>
            <li th:text="${article.localizedDateTime}">여기는 날짜</li>
            <li th:text="${article.localizedDateTimeShort}">여기는 날짜</li>
            <li th:text="${#calendars.format(article.createdOnUTCBased, 'yyyy-MM-dd hh:mm:ss')}">여기는 UTC 날짜</li>
        </ul>
    </fieldset>
</section>
</body>
</html>